body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
   }
main {
    color: #263547; 
    margin-left: 200px;
    margin-right: 200px;
}

span{
    font-weight: bold;
}
h1 {
    background-color: #263547;
    color: white;
    text-align: center;
}

#boxpp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
#profile_picture {
    border-radius: 15px;
    height: 230px;
    width: 250px;
}
header {
    background-color: #2d8e9f;
}
footer {
    background-color: #a6a6a6;
    text-align: center;
    align-items: center;
    height: 40px;
}
#footer_text {
    vertical-align: middle;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
h2{
    background-color: #a6a6a6;   
}
#instagram, #linkedin {
    
    margin: auto;
    vertical-align:middle;
    width: 30px;
    height: 30px;
}